@tailwind base;
@tailwind components;
@tailwind utilities;

.big-blue-radial-gradient-background {
  background: radial-gradient(
    circle at 50% 50%,
    hsla(204, 71%, 62%, 15%) 30%,
    hsla(0, 0%, 100%, 0) 100% /* 0.7 is the opacity, adjust as needed */
  );
}

/* .card-upload-container .vjs-control {
  display: none;
} */

.vjs-fullscreen video {
  height: 100% !important;
}
.video-js {
  border-radius: 16px;
  /* overflow: hidden; */
}
.video-js video {
  border-radius: 16px !important;
}
.card-upload-container .video-js {
  padding: 0 !important;
  height: 150px !important;
}

.card-upload-container .video-js video {
  height: 150px;
}
.card-play-container .video-js {
  padding: 0 !important;
  height: 100% !important;
}
.card-play-container .video-js video {
  height: 100%;
}
.vjs-fullscreen {
  border-radius: 0px !important;
}
.vjs-fullscreen > .vjs-control-bar {
  border-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.vjs-control-bar {
  overflow-y: hidden;
  padding: 0 1rem;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}
/* .card-upload-container .vjs-menu{
  display: none;
} */

.card-player-video-container .cld-video-player {
  height: 95% !important;
  padding-top: 0 !important;
}
.card-player-video-container>div>div{
  height: 100%;
}
.card-play-container>div>div{
  height: 100%;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}